html {
    font-family: 'LibreFranklin';
}

body {
    padding: 0px;
    margin: 0px;
}

.page-title {
    text-align: center;
    font-weight: 100;
}

.page-description {
    text-align: center;
}

.nav {
    background-color: #111111;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10%;
    height: 20px;
}

.footernav {
    background-color: #111111;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.form-wrapper {
    margin-right: 30px;
    float: right;
    position: relative;
    padding: 15px;
    margin-top: -50px;
    padding-top: 30px;
    color: #ffffff !important;
}

.footernav li {
    text-decoration: color#ffffff;
    padding: 0 10px;
    display: inline;
}

.footernav ul {
    display: inline;
}

.contact-btn {
    float: right;
}

.contact-btn a {
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #ffffff;
}

.contact-btn a:active {
    position: relative;
    bottom: 2px;
}

.footernav a {
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
}

.lionimage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 70px;
}